:root {
    --light-grey: #dcdde0;
    --grey: #a3a3a3;
    --dark-grey: #636363;
    --white: #ffffff;
    --black: black;
}

.line-sup {
    border-top: 1px;
    border-top-style: solid; 
    border-top-color: var(--light-grey);
}

.nav-item .nav-link {
    padding: 26px;
    color: var(--grey);
}
.nav-item:hover .nav-link:hover {
    background-color: var(--black);
    color: var(--white);
    transition: 0.4s ease-out;
}

.item {
    border-left: 1px; 
    border-left-style: solid;
    border-left-color: var(--light-grey);
}
.last-item {
    border-left: 1px;
    border-left-style: solid;
    border-left-color: var(--light-grey);
}