:root {
    --light-grey: #dcdde0;
    --grey: #a3a3a3;
    --dark-grey: #636363;
    --white: #ffffff;
    --black: black;
}

.small-banner {
    display: flex;
    justify-content: center ;

    padding: 14px;
    padding-top: 20px;

    background-color: var(--black);
    color: var(--white);
    font-family: 'Lusitana', serif;
    font-size: 2rem;
}